__pycache__
dist/
*/__pycache__
blenderproc.egg-info/
build/
blender
.idea/
.vscode/
output/
debug/
resources/AMASS
resources/cctextures*
resources/scenenet/*zip
resources/scenenet/SceneNetData
resources/scenenet/texture*
resources/blenderkit
resources/decomposition_cache
resources/IKEA
resources/haven
resources/pix3d
resources/front_3D/3D_front_mapping_generated.csv
blenderproc/external/vhacd
*.blend1
.vscode
*.pyc
*.swp
docs/build/
!docs/source/index.rst
docs/source/*rst
docs/source/images/
docs/source/examples/
docs/source/*md
blenderproc_resources/
