__pycache__
*/__pycache__
blender
.idea/
.vscode/
output/
debug/
resources/cctextures
resources/scenenet/*zip
resources/scenenet/SceneNetData
resources/scenenet/texture*
resources/blenderkit
resources/decomposition_cache
resources/IKEA
resources/pix3d
resources/front_3D/3D_front_mapping_generated.csv
external/vhacd
*.blend1
.vscode
*.pyc
*.swp
docs/build/
!docs/source/index.rst
docs/source/*rst
docs/source/images/
docs/source/examples/
docs/source/*md
