[FORMAT]
max-line-length=120
disable=C0103,E0401,R0915,R0913,R0914,R1702,R0912,R0915,R0911,R0903
ignored-modules=cv2
# we do not increase the code quality on the old modules anymore:
ignore-paths=blenderproc/python/modules/.*$
