[FORMAT]
max-line-length=120
disable=C0103,E0401,R0915,R0913,R0914,R1702,R0912,R0915,R0911,R0903,R0904,W0719,R6102
enable=consider-using-augmented-assign
load-plugins=pylint.extensions.code_style
ignored-modules=urllib,cv2
# we do not increase the code quality on the old modules anymore:
ignore-paths=blenderproc/python/modules/.*$,blenderproc/api/.*$

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=30

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes
